---
Checks:          '*,-fuchsia-*,-google-readability-todo,-google-runtime-references,-llvm-header-guard,-llvmlibc-*,-altera-struct-pack-align,-cppcoreguidelines-init-variables'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none